@import "_variables";
@import "_helpers";
@import "_mdo";
@import "_syntax";


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}


/******************************************************************************
¡STRUCTURE
******************************************************************************/
html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "PT Sans", sans-serif;
    color: color(accent-3);
    font-size: 1rem;
}

.lk-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: unquote('-' + config(footer));
}

header {
	background: color(accent-1);
	height: config(header);
	position: relative;
}

.lk-content {

}

.lk-push,
footer {
    height: config(footer);
}

footer {
	background: color(accent-1);
	padding: 0 3rem;
	a {
		display: inline-block;
		margin: 45px 0 0 0;
		cursor: pointer;
	}
}

/******************************************************************************
¡STYLES
******************************************************************************/
.lk-wrap-logo {
	background: url('../img/logo-transparent.png') no-repeat 50%;
	height: 100%;
	opacity: .5;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-size: cover;
}

.lk-section {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-bottom: solid 1px color(accent-2);
	.lk-col {
		display: table-cell;
		padding: 3rem;
		vertical-align: top;
	}
	.lk-col + .lk-col {
		background: color(accent-6);
	}
	.lk-code-example {
		margin: 0;
	}
	h3 {
		font-size: 1.75rem;
	}
	h4 {
		font-size: 1.25rem;
	}
	ul {
		padding: 0 0 0 3rem;
		li {
			margin-bottom: .25rem;
		}
	}
}

.table-of-contents {
	.lk-col + .lk-col {
		background: color(main);
	}
}

.lk-heading {
	background: color(accent-2);
	padding: 3rem 3rem 2.5rem;
	h2 {
		font-size: 50px;
	}
}