---
layout: default
---


<div class="lk-content">
    <div class="lk-section lk-heading">
        <h2>Table of contents</h2>
    </div>
    <div class="lk-section table-of-contents">
        <div class="lk-col">
            <h4>
                <a href="">JavaScript</a>
            </h4>
            <ul>
                <li><a href="">Link</a></li>
            </ul>
        </div>
        <div class="lk-col">
            <h4>
                <a href="">Angular</a>
            </h4>
            <ul>
                <li><a href="">Link</a></li>
            </ul>
        </div>
    </div>
    <div class="lk-section lk-heading">
        <h2>Javascript</h2>
    </div>
    <div class="lk-section">
        <div class="lk-col">
            <h3>Strings</h3>
            <p>Use single quotes for strings.</p>
        </div>
        <div class="lk-col">
            {% highlight js %}{% include js/quotes.js %}{% endhighlight %}
        </div>
    </div>
    <div class="lk-section">
        <div class="lk-col">
            <h3>Strings</h3>
            <p>Use single quotes for strings.</p>
        </div>
        <div class="lk-col">
            {% highlight js %}{% include js/quotes.js %}{% endhighlight %}
        </div>
    </div>
    <div class="lk-section lk-heading">
        <h2>Angular</h2>
    </div>
    <div class="lk-section">
        <div class="lk-col">
            <h3>Strings</h3>
            <p>Use single quotes for strings.</p>
        </div>
        <div class="lk-col">
            {% highlight js %}{% include js/quotes.js %}{% endhighlight %}
        </div>
    </div>
</div>