---
layout: default
---


<div class="lk-content">
    <div class="heading">
        <h2>Table of contents</h2>
    </div>
    <div class="section table-of-contents">
        <div class="col">
            <h4>
                <a href="">JavaScript</a>
            </h4>
            <ul>
                <li><a href="">Link</a></li>
            </ul>
        </div>
        <div class="col">
            <h4>
                <a href="">Angular</a>
            </h4>
            <ul>
                <li><a href="">Link</a></li>
            </ul>
        </div>
    </div>
    <div class="heading">
        <h2>Javascript</h2>
    </div>
    <div class="section">
        <div class="col">
            <h3>Strings</h3>
            <p>Use single quotes for strings.</p>
        </div>
        <div class="col">
            {% highlight js %}{% include js/quotes.js %}{% endhighlight %}
        </div>
    </div>
    <div class="heading">
        <h2>Angular</h2>
    </div>
    <div class="section">
        <div class="col">
            <h3>Wrap Components in an <a href="http://stackoverflow.com/a/8228308/2755042" target="_BLANK">IIFE</a></h3>
            <p>This helps remove variables from the global scope. More importantly, when minified, this helps avoid variable collisions.</p>
        </div>
        <div class="col">
            {% highlight js %}{% include angular/iife.js %}{% endhighlight %}
        </div>
    </div>
    <div class="section">
        <div class="col">
            <h3>Keep Controllers Focused</a></h3>
            <p>Define a controller for a view, and try not to reuse the controller for other views. Instead, move reusable logic to factories and keep the controller simple and focused on its view.</p>
            <p>Only presentational logic should be inside a controller, avoid Business logic (delegate to Services).</p>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="section">
        <div class="col">
            <h3>Seperate Components with 3 Spaces</h3>
            <p>Seperating Angular components (controllers, services, factories) with three spaces will allow for distinct seprations and help readability.</p>
        </div>
        <div class="col">
            {% highlight js %}{% include angular/spacing.js %}{% endhighlight %}
        </div>
    </div>
    <div class="section">
        <div class="col">
            <h3>Nameing Angular Components</h3>
            <p>In order to avoid confusion, Angular components should be named after what they are. Controllers should be <code>XxxCtrl</code>, Factories should have <code>XxxFactory</code>, services should have <code>XxxService</code>, etc.  </p>
        </div>
        <div class="col">
            {% highlight js %}{% include angular/naming.js %}{% endhighlight %}
        </div>
    </div>
    <div class="section">
        <div class="col">
            <h3>controllerAs with vm</h3>
            <p>Use a capture variable for <code>this</code> when using the <code>controllerAs</code> syntax. Choose a consistent variable name such as <code>vm</code>, which stands for ViewModel.</p>
        </div>
        <div class="col">
            {% highlight js %}{% include angular/controller-vm.js %}{% endhighlight %}
        </div>
    </div>
</div>